
.Child1{
    font-weight: 1000;
    font-style: italic;
    text-decoration: double underline;
}
h1{
    text-shadow: 6px -9px 5px red;
}
.Child2{
    font-size: 60px;

}
p{
    text-indent: 510px;
    line-height: 40px;
    
}
.Child3{
    color: blueviolet;
    background-color: rgb(177, 170, 238);
}
.Child4{
    color: blueviolet;
    background-color: rgb(170, 174, 238);
}
p{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
a:link{
    color: rgb(76, 0, 255) ;
} 
a:visited{
    color: rgb(2, 120, 255);
} 
a:hover{
    text-shadow: 0 -0 10px red;
}
input:focus{
    background-color: rgb(70, 66, 136);
    color: black;

}
button:hover{

    background-color: chocolate;
    color: rgb(205, 240, 6);
}
button:active{
    background-color: gray;
    font-size: 15px ;
}
/* li:nth-child(2n-1){
    color: red;
} */
li:nth-last-child(3n){
    color: yellowgreen;
}